<?xml version="1.0" encoding="utf-8"?> 

<OpenAIL>
	<MainProcessing 	frequencyOfNewDataQuery="5" 
								priorMapName="CM_ver3"
								usePriorMap="True"
								imageAccVarianceThreshold="0.1"
								imageCaptureStep="2"
								imageCaptureVarianceThreshold="0.15"
								/>

	<InertialSensors useModule="True" stepometer="True" verticalOrientation="True" priorMapStepometerBiasVertical="-20" priorMapStepometerBiasHorizontal="0">
		<Record 
						accelerometer="True"
						gyroscope="False"
						magnetometer="False"
						barometer="False"
						accelerometerWithoutGravity="False"
						orientationAndroid="True"
						orientationAndroidEuler="False"
						orientationAEKF="True"
						orientationAEKFEuler="False"
						orientationCF="False"
						orientationCFEuler="False"		/>
	</InertialSensors>

	<GraphManager	vprVicinityDeadBandRadius="10.0"
								informationMatrixOfVPRVicinity="2.0"
								wifiFingerprintDeadBandRadius="2.0"
								informationMatrixOfWiFiFingerprint="5.0"
								informationMatrixOfWiFi="1.0"
								optimizeFromFileIterationCount="100"/>	
	
	<WiFiPlaceRecognition 	useModule="True" 
										maxPlaceDatabaseSize="500" 
										maxQueueSize="200" 
										fractionOfQueueAfterReduction="0.3" 
										minNumberOfSharedNetworks="7"
										minPercentOfSharedNetworks="0.75"
										maxAvgErrorThreshold="8" /> 
										
	<VisualOdometry useModule="True"/>
	<VisualPlaceRecognition useModule="True"/>
</OpenAIL>