<?xml version="1.0" encoding="utf-8"?> 

<OpenAIL>
	<MainProcessing 	frequencyOfNewDataQuery="5" 
								priorMapName="CM_ver3"
								usePriorMap="True"
								imageAccVarianceThreshold="0.1"
								imageCaptureStep="2"
								imageCaptureVarianceThreshold="0.15"
								useNavigation="False"
								showMapWithoutMapConnection="True"
								/>

	<InertialSensors useModule="True" stepometer="True" verticalOrientation="False" priorMapStepometerBiasVertical="75" priorMapStepometerBiasHorizontal="75">
		<Record 
						accelerometer="True"
						gyroscope="False"
						magnetometer="False"
						barometer="False"
						accelerometerWithoutGravity="False"
						orientationAndroid="True"
						orientationAndroidEuler="False"
						orientationAEKF="False"
						orientationAEKFEuler="False"
						orientationCF="False"
						orientationCFEuler="False"		/>
	</InertialSensors>

	<GraphManager	vprVicinityDeadBandRadius="10.0"
								informationMatrixOfVPRVicinity="2.0"
								wifiFingerprintDeadBandRadius="2.0"
								informationMatrixOfWiFiFingerprint="5.0"
								informationMatrixOfWiFi="1.0"
								optimizeFromFileIterationCount="100"/>	
	
	<WiFiPlaceRecognition 	useModule="True" 
										recordRawData="True"
										maxPlaceDatabaseSize="500" 
										maxQueueSize="200" 
										fractionOfQueueAfterReduction="0.3" 
										minNumberOfSharedNetworks="7"
										minPercentOfSharedNetworks="0.75"
										maxAvgErrorThreshold="8" 
										directWiFiMeasurements="False"
										addUserWiFiToRecognition="False"/> 
										
	<VisualOdometry useModule="True"/>
	<VisualPlaceRecognition useModule="True"/>
</OpenAIL>